.card-title{
    text-align: center;
    font-size: 20px;
    color:rgb(223, 228, 239)
}
.card-desc {
    font-size: 16px;
    line-height: 1.5;
}
.card-btn {
    background-color: rgb(109, 182, 208);
    margin-bottom: 20px;
}

.card {
     padding: 10px 20px;
    border-radius: 8px;
    margin-top:20px;
    padding: 10px;
    background-color: rgb(85, 127, 243);
    width: 300px;
    box-shadow: 0 4px 8px rgba(36, 7, 85, 0.388);

}
.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
 .card-content {
    text-align: center;
          padding: 20px;
        }